.country{
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.visited{
    background-color: bisque;
    
}

.visitedbtn{
    background-color: rgb(255, 216, 168);
}